<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <header class="card-panel teal lighten-2">
            <nav>
                <ul>
                    <li><a href="{{ path('accueil') }} ">Accueil</a></li>
                    <li><a href="{{ path('articles') }}">Articles</a></li>
                    <li><a href="{{ path('categorie') }}">Catégories</a></li>
                    <li><a href="{{ path('admin_index') }}">Administration</a>
                    {% block adminNav %}

                    {% endblock %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
