{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Dateparution</th>
                <th>Caegorie</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.nom }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.auteur }}</td>
                <td>{% if article.dateParution %}{{ article.dateParution|date('Y-m-d') }}{% endif %}</td>
                <td>{{ article.categorie.nom }}</td>
                <td>{% for tag in article.tags %}
                    {{tag.nom}}
                {% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_new') }}">Create a new article</a>
        </li>
    </ul>
{% endblock %}
